@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color:black !important
}

.upload-profile-pic{
  position: relative;
 
    max-height: 180px;
    max-width: 180px;
}

.upload-profile-pic > input{
    border-radius: 50%;
    height: 180px;
    width: 180px;
 
    opacity: .8;
   padding:55px;
    
     text-align: center;
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: white;

  }
 h3:first-letter, p:first-letter {
    text-transform:capitalize;
}

.nav-item-style:hover{
font-weight: 700;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}